<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/history.css">
</head>

<body>
    <div class="container">
        <div class="row mt-4 text-center">
            <div class="col-md-12">
                <div class="account-balance">
                    <h5>See your deposit and withdrawal history</h5>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h4 class="history-header">Deposit History</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Deposit Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each deposits}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{this.amount}} RS</td>
                                <td>{{this.status}}</td>
                            </tr>
                            {{/each}}
                            {{#unless deposits.length}}
                            <tr>
                                <td colspan="3">No deposit history found</td>
                            </tr>
                            {{/unless}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h4 class="history-header">Withdrawal History</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Withdrawal Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each withdrawals}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{this.amount}} RS</td>
                                <td>{{this.status}}</td>
                            </tr>
                            {{/each}}
                            {{#unless withdrawals.length}}
                            <tr>
                                <td colspan="3">No withdrawal history found</td>
                            </tr>
                            {{/unless}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
</body>

</html>

