<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="robots" content="noindex, noarchive" />
    <title>
        GB Football
    </title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="css/hover.css" />
    <link rel="stylesheet" type="text/css" class="skin" href="css/skin/skin-1.css" />
    <link rel="stylesheet" type="text/css" href="css/templete.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css" />
    <link src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>

<body class="bg">
    <div id="loading-area" class="loading-page-1">
        <div class="spinner">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="8" cy="8" r="7" stroke-width="1" />
            </svg>
        </div>
    </div>
    <div class="page-wraper">

        <header class="site-header header-style-6 dark mo-left ">

            <div class=" sticky-header main-bar-wraper navbar-expand-lg navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="top-bar">
                        <div class="container top-bar-crve">
                            <div class="row justify-content-between">
                                <div class="dez-topbar-left">
                                    <ul class="social-line text-center pull-right">
                                        <li> <a href="mailto:gbfootball74@gmail.com"><ion-icon
                                                    name="mail"></ion-icon><span>gbfootball74@gmail.com</span>
                                                </span></a></li>
                                        <li><a href=""><ion-icon name="call"></ion-icon><span>8263958146</span> </a></li>

                                    </ul>
                                </div>
                                <div class="dez-topbar-right ">
                                    <ul class="social-line text-center pull-right">
                                        <!-- <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bar">
                        <div class="container clearfix">

                            <!-- <div class="logo-header logo-color mostion logo-color"><a href="index-2.html"><img
                                        src="images/logo.png" width="30" height="20" alt></a></div> -->

                            <div class="logo-header logo-colot mostion logo-color">
                                {{#if user}}
                                <h2>Welcome <b style="color:rgb(0, 132, 255)">{{user.firstname}}</b><br>
                                    <a class="userProfile" href="/userProfile">View Profile</a>
                                </h2>
                                {{else}}
                                <h2>Welcome</h2>
                                {{/if}}
                            </div>

                            <button id="navicon" class="navbar-toggler navicon" type="button" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>

                            <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                                <ul class=" nav navbar-nav">
                                    <li class="active"> <a href="/">Home</a></li>
                                    <li> <a href="#about"><span style="color : black;">About Us</span></a></li>
                                    <li> <a href="#games"><span style="color : black;">Games</span></a></li>
                                    <li> <a href="/contact"><span style="color : black;">Contact Us</span></a>
                                    </li>
                                    <li class="active" style="padding-left:5px;"> <a href="/login"
                                            target="blank">Login</a></li>
                                    <li class="active" style="padding-left:5px;"> <a href="/register"
                                            target="blank">Register</a></li>
                                    {{#if user}}
                                    <li class="active" style="padding-left:5px;"> <a href="/logout"
                                            target="blank">Logout</a></li>
                                    <li class="active" style="padding-left:5px;"> <a href="/history"
                                            target="blank">Account History</a></li>
                                    {{else}}
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>


        <div class="page-content">

            <div class="main-slider style-two default-banner">
                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                            data-alias="news-gallery36" data-source="gallery"
                            style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

                            <div id="slider_01" class="rev_slider fullwidthabanner" style="display:none;"
                                data-version="5.3.0.2">
                                <ul>

                                    <li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default"
                                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                        data-easeout="default" data-masterspeed="default"
                                        data-thumb="images/main-slider/slide1.jpg" data-rotate="0"
                                        data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                        data-saveperformance="off">

                                        <img src="images/main-slider/football_one.jpg" alt
                                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                            data-bgparallax="10" class="rev-slidebg" data-no-retina>


                                        <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                            id="slide-100-layer-1" data-x="['left','left','left','left']"
                                            data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']"
                                            data-voffset="['100','300','300','300']"
                                            data-fontsize="['40','35','20','20']"
                                            data-lineheight="['45','40','25','25']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:600;">
                                            WELCOME TO
                                        </div>

                                        <div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-2"
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                            data-y="['top','top','top','top']" data-voffset="['150','350','330','330']"
                                            data-fontsize="['80','80','50','30']"
                                            data-lineheight="['85','85','55','35']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:Oswald; color:#fff;">
                                            GB<span class="text-primary"> FOOTBALL</span>
                                        </div>

                                        <div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-3"
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                            data-y="['top','top','top','top']" data-voffset="['250','450','400','380']"
                                            data-fontsize="['16','15','14','14']"
                                            data-lineheight="['26','25','24','24']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:roboto">
                                            We Provide The Best And Highest Odds For You To Gain More
                                        </div>

                                        <div class="tp-caption" id="slide-100-layer-4"
                                            data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']"
                                            data-y="['top','top','top','top']" data-voffset="['350','550','500','510']"
                                            data-width="none" data-height="none" data-whitespace="nowrap"
                                            data-responsive_offset="on" data-responsive="off"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;frame&quot;:&quot;hover&quot;,&quot;speed&quot;:&quot;300&quot;,&quot;ease&quot;:&quot;Power1.easeInOut&quot;,&quot;to&quot;:&quot;o:1;rX:0;rY:0;rZ:0;z:0;&quot;,&quot;style&quot;:&quot;c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                            <a style="background-color: #5BBCFF;" href="/register" target="blank"
                                                class="site-button m-r15">Register Now
                                            </a>
                                        </div>

                                    </li>

                                </ul>
                                <div class="tp-bannertimer tp-bottom bg-primary"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div class="telegram">
                    <a target="_blank" href="https://t.me/gbfootball11">
                        <button class="but1">Join Telegram</button>
                    </a>
                    <a target="_blank" href="https://whatsapp.com/channel/0029Vaiy94CDTkK1NkEgW02Q">
                        <button class="but2">Join Whatsapp</button>
                    </a>
                </div>
                {{#if user}}
                <div class="refer">
                    {{!-- <h3>Copy Referral Link</h3> --}}
                    <h2>Copy Referral Link</h2>
                </div>
                <div class="input">
                    <input type="text" id="referralLink" style="padding:5px; width:290px; color : red;font-weight:bold;"
                        value="{{user.referrallink}}" readonly>
                    <button style="padding:5px; background:rgb(8, 193, 8);color:white;margin-left:5px;"
                        onclick="copyReferralLink()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path
                                d="M10 1.5v1h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1h2v-1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-10a2 2 0 0 0-2-2h-2zm-4-.5v1h4v-1h-4z" />
                            <path d="M9.5 2a.5.5 0 0 1 .5.5v.5h-4v-.5a.5.5 0 0 1 .5-.5h3z" />
                        </svg>
                    </button>
                </div>
                {{else}}
                {{/if}}
            </section>

            <script>
                function copyReferralLink() {
                    var referralLinkInput = document.getElementById("referralLink");
                    referralLinkInput.select();
                    referralLinkInput.setSelectionRange(0, 99999);
                    document.execCommand("copy");
                    alert("Copied the referral link : " + referralLinkInput.value + " ✅");
                }
            </script>



            <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase">Gifts For Friday</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>You will see all latest gifts for friday</p>
                    </div>
                    <div class="section-content">
                        <div
                            class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr image-slider">
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <br><br><br>
                                    <img src="/images/audia4.png" alt="audi">
                                    <h2 class="image-content">Audi A4 🚕</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <br><br><br>
                                    <img src="/images/royal_bullet.png" alt="bullet">
                                    <h2 class="image-content">Royal Enfield 🛵</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/iphone_one.png" alt="iphone" height="100px">
                                    <h2 class="image-content">Iphone 14 📱</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/smart.jpg" alt="smart watch">
                                    <h2 class="image-content">Smart Watch ⌚</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/vivo_5g.jpg" alt="vivo 5G">
                                    <h2 class="image-content">Vivo 5G 📱</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{#if user}}
            <section>
                <div class="telegram">

                    <button id="depositBtn" class="but1">Deposit</button>

                    <script>
                        document.getElementById('depositBtn').addEventListener('click', function () {
                            window.location.href = "/dashboard";
                        });
                    </script>

                    <a href="/withdrawal">
                        <button class="but2">Withdraw</button>
                    </a>
                </div>


                <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                    <div class="container">
                        <div class="section-head text-center ">
                            <h2 class="h2 text-uppercase">Withdrawal Rules</h2>
                            <div class="dez-separator-outer ">
                                <div class="dez-separator bg-primary style-liner"></div>
                            </div>
                            <p>You will see all rules to withdraw money</p>
                        </div>
                        <div class="section-content">
                            <div class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr">
                                <div class="item p-t20">
                                    <div class="countdown dez-style-1 text-center">
                                        <div class="offers">
                                            120 coins = 500 RS<br>
                                            250 coins = 1000 RS<br>
                                            350 coins = 2000 RS<br>
                                            450 coins = 3000 RS<br>
                                        </div>
                                    </div>
                                </div>
                                <div class="item p-t20">
                                    <div class="countdown dez-style-1 text-center">
                                        <div class="offers">
                                            550 coins = 5000 RS<br>
                                            1000 coins = 12000 RS<br>
                                            1200 coins = 15000 RS<br>
                                            1500 coins = 20000 RS<br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{else}}
            {{/if}}



            <div id="games" class="section-full bg-white content-inner our-achievements">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase"> OUR GAMES </h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>Start Your Betting With Our Games</p>
                    </div>
                </div>
            </div>

            <div class="main" style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                <div class="card" style="width:400px; background:#e2f7fc;">
                    <img class="card-img-top daily-image-america" src="./images/default.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">American Football <span style="color:orange;">( Mon , Thu )</span>
                        </h4>
                        <p class="profit-button"></p>
                        <a href="#" class="btn btn-primary">Live </a>
                        {{#if user}}
                        <a href="/bet" class="btn btn-primary bet-now-button america-bet"
                            style="background : rgb(8, 193, 8);">Bet Now</a>
                        {{else}}
                        {{/if}}
                    </div>
                </div>
                <div class="card" style="width:400px; background:#e2f7fc;">
                    <img class="card-img-top daily-image-india" src="./images/default.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Indian Football <span style="color:orange;">( Tue , Fri )</span></h4>
                        <p class="profit-button"></p>
                        <a href="#" class="btn btn-primary">Live</a>
                        {{#if user}}
                        <a href="/bet" class="btn btn-primary bet-now-button india-bet"
                            style="background : rgb(8, 193, 8);">Bet
                            Now</a>
                        {{else}}
                        {{/if}}
                    </div>
                </div>
                <div class="card" style="width:400px; background:#e2f7fc;">
                    <img class="card-img-top daily-image-japan" src="./images/default.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Japanese Football <span style="color:orange;">( Wed , Sat )</span>
                        </h4>
                        <p class="profit-button"></p>
                        <a href="#" class="btn btn-primary">Live</a>
                        {{#if user}}
                        <a href="/bet" class="btn btn-primary bet-now-button japan-bet"
                            style="background : rgb(8, 193, 8);">Bet
                            Now</a>
                        {{else}}
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="section-full bg-white content-inner our-achievements">
                <div class="container">
                    <div class="section-head text-center ">
                        <marquee
                            style="color : white; font-size: 20px; font-weight: bold; background : rgb(32, 147, 255); padding : 5px;">
                            ⭐ Latest Tranding Offer ⭐
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase">Latest Offers</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>You will see all latest offers here</p>
                    </div>
                    <div class="section-content">
                        <div class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr">
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <div class="offers">
                                        Add + 1 Person = 20 RS<br>
                                        Add + 10 Person = 200 RS<br>
                                        Add + 50 Person = 1000 RS<br>
                                        Add + 100 Person = 2000 RS<br>
                                    </div>
                                    <div class="date">
                                        <span class="time days text-primary"></span>
                                        <span class="time-counting">Days</span>
                                    </div>
                                    <div class="date">
                                        <span class="time hours text-primary"></span>
                                        <span class="time-counting">Hours</span>
                                    </div>
                                    <div class="date">
                                        <span class="time mins text-primary"></span>
                                        <span class="time-counting">Minutess</span>
                                    </div>
                                    <div class="date">
                                        <span class="time secs text-primary"></span>
                                        <span class="time-counting">Second</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <div class="offers">
                                        Deposit 5000 = 500 Bonus<br>
                                        Deposit 10000 = 1000 Bonus<br>
                                        Deposit 20000 = Smart Watch + 1000 Bonus<br>
                                        Deposit 50000 = Smart Watch + 2000 Bonus<br>
                                    </div>
                                    <div class="date">
                                        <span class="time days text-primary"></span>
                                        <span class="time-counting">Days</span>
                                    </div>
                                    <div class="date">
                                        <span class="time hours text-primary"></span>
                                        <span class="time-counting">Hours</span>
                                    </div>
                                    <div class="date">
                                        <span class="time mins text-primary"></span>
                                        <span class="time-counting">Minutess</span>
                                    </div>
                                    <div class="date">
                                        <span class="time secs text-primary"></span>
                                        <span class="time-counting">Second</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <div class="offers">
                                        Deposit 100000 = Mobile 5G<br>
                                        Deposit 200000 = Mobile 5G + Smart Watch<br>
                                        Deposit 500000 = Iphone 14<br>
                                        Deposit 1000000 = Bullet + Mobile 5G<br>
                                    </div>
                                    <div class="date">
                                        <span class="time days text-primary"></span>
                                        <span class="time-counting">Days</span>
                                    </div>
                                    <div class="date">
                                        <span class="time hours text-primary"></span>
                                        <span class="time-counting">Hours</span>
                                    </div>
                                    <div class="date">
                                        <span class="time mins text-primary"></span>
                                        <span class="time-counting">Minutess</span>
                                    </div>
                                    <div class="date">
                                        <span class="time secs text-primary"></span>
                                        <span class="time-counting">Second</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <div class="offers">
                                        5% of 1000 = 50<br>
                                        5% of 2000 = 100<br>
                                        5% of 5000 = 250<br>
                                        5% of 10000 = 500<br>
                                    </div>
                                    <div class="date">
                                        <span class="time days text-primary"></span>
                                        <span class="time-counting">Days</span>
                                    </div>
                                    <div class="date">
                                        <span class="time hours text-primary"></span>
                                        <span class="time-counting">Hours</span>
                                    </div>
                                    <div class="date">
                                        <span class="time mins text-primary"></span>
                                        <span class="time-counting">Minutess</span>
                                    </div>
                                    <div class="date">
                                        <span class="time secs text-primary"></span>
                                        <span class="time-counting">Second</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="about" class="section-full bg-white content-inner">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase"> About The GB FOOTBALL</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>Welcome to GB Football, your premier destination for sports betting! At GB Football, we bring
                            the thrill of the game right to your fingertips. Whether you're a passionate football fan, a
                            cricket enthusiast, or a hockey aficionado, we have something for everyone.</p>
                    </div>
                    <div class="section-content text-center ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-left">
                                    <h3 class="font-weight-600 m-t10">OUR MISSION STATEMENT</h3>
                                    <p>At GB Football, our mission is to provide a world-class sports betting experience
                                        that is exciting, fair, and secure. We aim to be the leading platform for sports
                                        enthusiasts by offering comprehensive coverage, competitive odds, and
                                        exceptional customer service. Our commitment is to enhance your enjoyment of
                                        sports through a seamless and responsible betting environment. Join us at GB
                                        Football and elevate your game-day experience!</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-4">
                                            <div class="dez-media dez-img-effect off-color">
                                                <img width="159" height="153" src="images/about-sports/pic1.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-4 ">
                                            <div class="dez-media dez-img-effect off-color">
                                                <img width="159" height="153" src="images/about-sports/pic2.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-4 ">
                                            <div class="dez-media dez-img-effect  off-color">
                                                <img width="159" height="153" src="images/about-sports/pic3.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="m-tb30">
                                        <a href="javascript:void(0);" class="site-button">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 m-b30">
                                <div class="dez-box">
                                    <div class="dez-media dez-img-effect off-color ">
                                        <img width="555" height="393" src="images/about-sports/pic4.jpg" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-full content-inner bg-white">
            </div>
        </div>
    </div>
    </div>

    </div>


    <footer class="site-footer footer-overlay bg-img-fix footer-skew"
        style="background-image: url(images/background/bg5.jpg); background-position: center bottom; background-size: cover; display: block;">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-left"> <span>GB FOOTBALL © Copyright 2024</span> </div>
                    <div class="col-lg-4 text-right ">
                        <a href="#about"> About</a>
                        <a href="/contact"> Help Desk</a>
                        <a href="#">Contact Now : 8263958146</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <button class="scroltop fa fa-caret-up"></button>
    </div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="plugins/magnific-popup/magnific-popup.js"></script>
    <script src="plugins/counter/waypoints-min.js"></script>
    <script src="plugins/counter/counterup.min.js"></script>
    <script src="plugins/countdown/jquery.countdown.js"></script>
    <script src="plugins/imagesloaded/imagesloaded.js"></script>
    <script src="plugins/masonry/isotope.pkgd.min.js"></script>
    <script src="plugins/masonry/masonry-4.2.2.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.js"></script>
    <script src="plugins/lightgallery/js/lightgallery-all.js"></script>
    <script src="js/dz.ajax.js"></script>
    <script src="plugins/switcher/js/switcher.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/dz.carousel.min.js"></script>

    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="js/rev.slider.js"></script>
    <script src="js/profit.js"></script>
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/american_matches.js"></script>
    <script src="js/bet_time.js"></script>
    <script src="js/indian_matches.js"></script>
    <script src="js/japanese_matches.js"></script>
    <script src="js/deposit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        }); /*ready*/

        document.addEventListener('DOMContentLoaded', function () {
            const navicon = document.getElementById('navicon');
            const navbarNavDropdown = document.getElementById('navbarNavDropdown');
            const navLinks = document.querySelectorAll('.navbar-nav li a');

            navicon.addEventListener('click', function () {
                navicon.classList.toggle('open');
                navbarNavDropdown.classList.toggle('show');
            });

            navLinks.forEach(link => {
                link.addEventListener('click', function () {
                    navicon.classList.remove('open');
                    navbarNavDropdown.classList.remove('show');
                });
            });
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>