<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="robots" content="noindex, noarchive" />
    <title>
        GB Football
    </title>
    <link rel="icon" href="./images/football_two.png" type="image/x-icon">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="css/hover.css" />
    <link rel="stylesheet" type="text/css" class="skin" href="css/skin/skin-1.css" />
    <link rel="stylesheet" type="text/css" href="css/templete.min.css" />
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="plugins/revolution/revolution/css/navigation.css" />
    <link src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>

<body class="bg">
    <div class="page-wraper">
        <header class="site-header header-style-6 dark mo-left ">
            <div class=" sticky-header main-bar-wraper navbar-expand-lg navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="top-bar">
                        <div class="container top-bar-crve">
                            <div class="row justify-content-between">
                                <div class="dez-topbar-left">
                                    <ul class="social-line text-center pull-right">
                                        <li> <a href="mailto:gbfootball74@gmail.com"><ion-icon
                                                    name="mail"></ion-icon><span>gbfootball74@gmail.com</span>
                                                </span></a></li>
                                        {{!-- <li><a href=""><ion-icon name="call"></ion-icon><span></span> </a> --}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="header-bar">
                        <div class="container clearfix">
                            <!-- <div class="logo-header logo-color mostion logo-color"><a href="index-2.html"><img
                                        src="images/logo.png" width="30" height="20" alt></a></div> -->
                            <div class="logo-header logo-colot mostion logo-color">
                                {{#if user}}
                                <h2>Welcome <b style="color:rgb(0, 132, 255)">{{user.firstname}}</b><br>
                                    <a class="userProfile" href="/userProfile">View Profile</a>
                                </h2>
                                {{else}}
                                <h2>Welcome</h2>
                                {{/if}}
                            </div>

                            <button id="navicon" class="navbar-toggler navicon" type="button" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>

                            <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                                <ul class=" nav navbar-nav">
                                    <li class="active"> <a href="/">Home</a></li>
                                    {{!-- <li> <a href="#about"><span style="color : black;">About Us</span></a></li>
                                    --}}
                                    <li> <a href="#games"><span style="color : black;">Games</span></a></li>
                                    <li> <a href="/contact"><span style="color : black;">Contact Us</span></a>
                                    </li>
                                    <li class="active" style="padding-left:5px;"> <a href="/login"
                                            target="blank">Login</a></li>
                                    <li class="active" style="padding-left:5px;"> <a href="/register"
                                            target="blank">Register</a></li>
                                    {{#if user}}
                                    <li class="active" style="padding-left:5px;"> <a href="/logout"
                                            target="blank">Logout</a></li>
                                    <li class="active" style="padding-left:5px;"> <a href="/history"
                                            target="blank">Account History</a></li>
                                    <li class="active" style="padding-left:5px;"> <a href="/transaction"
                                            target="blank">Team Income</a></li>
                                    {{else}}
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        {{!-- Main Home Page --}}



        <div class="page-content">
            <div class="main-slider style-two default-banner">
                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                            data-alias="news-gallery36" data-source="gallery"
                            style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">

                            <div id="slider_01" class="rev_slider fullwidthabanner" style="display:none;"
                                data-version="5.3.0.2">
                                <ul>
                                    <li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default"
                                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                        data-easeout="default" data-masterspeed="default"
                                        data-thumb="images/main-slider/slide1.jpg" data-rotate="0"
                                        data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7"
                                        data-saveperformance="off">

                                        {{!-- <img src="images/main-slider/main_ground.jpg" alt
                                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                            data-bgparallax="10" class="rev-slidebg" data-no-retina> --}}

                                        {{!-- Background Image --}}

                                        <div class="background"></div>

                                        <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                            id="slide-100-layer-1" data-x="['left','left','left','left']"
                                            data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']"
                                            data-voffset="['100','300','300','300']"
                                            data-fontsize="['45','45','30','30']"
                                            data-lineheight="['45','45','45','45']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 7; white-space: nowrap;text-transform:left; font-family:Oswald; font-weight:bold;">
                                            WELCOME TO
                                        </div>

                                        <div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-2"
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                            data-y="['top','top','top','top']" data-voffset="['150','350','330','330']"
                                            data-fontsize="['80','80','50','30']"
                                            data-lineheight="['85','85','75','55']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="z-index: 6; white-space: normal;text-transform:left; font-weight:bold; line-height:80px; font-family:Oswald; color:#fff;">
                                            GB FOOTBALL<span class="text-primary"></span>
                                        </div>

                                        <div class="tp-caption Newspaper-Title   tp-resizeme" id="slide-100-layer-3"
                                            data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']"
                                            data-y="['top','top','top','top']" data-voffset="['250','450','400','380']"
                                            data-fontsize="['18','18','18','18']"
                                            data-lineheight="['35','35','35','35']"
                                            data-width="['800','800','600','400']" data-height="none"
                                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                                            data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                            data-paddingright="[0,0,0,0]" data-paddingbottom="[10,10,10,10]"
                                            data-paddingleft="[0,0,0,0]"
                                            style="font-weight:bold; z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:white; font-family:roboto">
                                            We Provide The Best And Highest Odds For You To Gain More
                                            <br><br>
                                            <a href="/register" target="blank" class="register-button">Register Now
                                            </a>

                                        </div>
                                    </li>
                                </ul>
                                {{!-- <div class="tp-bannertimer tp-bottom bg-primary"></div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            {{!-- GB Football Intro Sliders --}}


            <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase">GB FOOTBALL</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>All About GB Football</p>
                    </div>
                    <div class="section-content">
                        <div
                            class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr image-slider">
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/1.png" alt="audi">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/2.png" alt="bullet">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/3.png" alt="iphone" height="100px">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/4.png" alt="smart watch">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/5.png" alt="vivo 5G">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-one">
                <section class="section-down">
                    <div class="must">
                        <div class="section-full bg-white content-inner our-achievements">
                            <div class="container">
                                <div class="section-head text-center ">
                                    <marquee
                                        style="color : white; font-size: 20px; font-weight: bold; background : rgb(19, 210, 48); padding : 5px;">
                                        ⭐ Join Community ⭐
                                    </marquee>
                                </div>
                            </div>
                        </div>
                        <div class="telegram">

                            <a target="_blank" href="https://t.me/gbfootball11">
                                <button class="but1">Telegram</button>
                            </a>
                            <a target="_blank" href="https://chat.whatsapp.com/DCyquDECT0kLmyMLegRJ1o">
                                <button class="but2">Whatsapp</button>
                            </a>
                        </div>
                    </div>
                    <div class="just">
                        {{#if user}}
                        <h3 class="refer">Copy Referral Link</h3>

                        <div class="input">
                            <input type="text" id="referralLink"
                                style="padding:5px; width:290px; color : red;font-weight:bold;"
                                value="{{user.referrallink}}" readonly>
                            <button style="padding:5px; background:rgb(8, 193, 8);color:white;margin-left:5px;"
                                onclick="copyReferralLink()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clipboard" viewBox="0 0 16 16">
                                    <path
                                        d="M10 1.5v1h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-10a1 1 0 0 1 1-1h2v-1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-10a2 2 0 0 0-2-2h-2zm-4-.5v1h4v-1h-4z" />
                                    <path d="M9.5 2a.5.5 0 0 1 .5.5v.5h-4v-.5a.5.5 0 0 1 .5-.5h3z" />
                                </svg>
                            </button>
                        </div>
                        {{else}}
                        {{/if}}
                    </div>
                </section>

                <script>
                    function copyReferralLink() {
                        var referralLinkInput = document.getElementById("referralLink");
                        referralLinkInput.select();
                        referralLinkInput.setSelectionRange(0, 99999);
                        document.execCommand("copy");
                        alert("Copied the referral link : " + referralLinkInput.value + " ✅");
                    }
                </script>

                {{#if user}}
                <section>
                    <div class="just">
                        <div class="telegram">
                            <button id="depositBtn" class="but1">Recharge</button>
                            <script>
                                document.getElementById('depositBtn').addEventListener('click', function () {
                                    window.location.href = "/dashboard";
                                });
                            </script>

                            <a href="/withdrawal">
                                <button class="but2">Withdraw</button>
                            </a>
                        </div>
                    </div>
                </section>
                {{else}}
                {{/if}}
            </div>



            <div id="games" class="section-full bg-white content-inner our-achievements">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase"> OUR GAMES </h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>Start Your Betting With Our Games</p>
                    </div>
                </div>
            </div>


            {{!-- New Betting Cards --}}


            <div class="main" id="betting-cards"></div>

            <script>
                const matches = {
                    monday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Man City', team1Logo: './images/betting/man_city_new.png', team2: 'Man Utd', team2Logo: './images/betting/man_utd.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Man Utd', team1Logo: './images/betting/man_utd.png', team2: 'Mcf', team2Logo: './images/betting/mcf_new.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Mcf', team1Logo: './images/betting/mcf_new.png', team2: 'Psv', team2Logo: './images/betting/psv.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    tuesday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Psv', team1Logo: './images/betting/psv.png', team2: 'Lyon', team2Logo: './images/betting/lyon.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Lyon', team1Logo: './images/betting/lyon.png', team2: 'Fcb', team2Logo: './images/betting/fcb.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Fcb', team1Logo: './images/betting/fcb.png', team2: 'Acm', team2Logo: './images/betting/acm.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    wednesday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Acm', team1Logo: './images/betting/acm.png', team2: 'Everton', team2Logo: './images/betting/everton.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Everton', team1Logo: './images/betting/everton.png', team2: 'Ajax', team2Logo: './images/betting/ajax.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Ajax', team1Logo: './images/betting/ajax.png', team2: 'Arsenal', team2Logo: './images/betting/arsenal.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    thursday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Arsenal', team1Logo: './images/betting/arsenal.png', team2: 'Man City', team2Logo: './images/betting/man_city_new.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Man City', team1Logo: './images/betting/man_city_new.png', team2: 'Man Utd', team2Logo: './images/betting/man_utd.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Man Utd', team1Logo: './images/betting/man_utd.png', team2: 'Mcf', team2Logo: './images/betting/mcf_new.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    friday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Mcf', team1Logo: './images/betting/mcf_new.png', team2: 'Psv', team2Logo: './images/betting/psv.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Psv', team1Logo: './images/betting/psv.png', team2: 'Lyon', team2Logo: './images/betting/lyon.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Lyon', team1Logo: './images/betting/lyon.png', team2: 'Fcb', team2Logo: './images/betting/fcb.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    saturday: [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Fcb', team1Logo: './images/betting/fcb.png', team2: 'Acm', team2Logo: './images/betting/acm.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Acm', team1Logo: './images/betting/acm.png', team2: 'Everton', team2Logo: './images/betting/everton.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Everton', team1Logo: './images/betting/everton.png', team2: 'Ajax', team2Logo: './images/betting/ajax.png', startTime: '10:00', endTime: '14:00' }
                    ],
                    sunday : [
                        { league: 'American Football League', clinchVolume: 351745954, team1: 'Mcf', team1Logo: './images/betting/mcf_new.png', team2: 'Psv', team2Logo: './images/betting/psv.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Indian Football League', clinchVolume: 351745954, team1: 'Psv', team1Logo: './images/betting/psv.png', team2: 'Lyon', team2Logo: './images/betting/lyon.png', startTime: '10:00', endTime: '14:00' },
                        { league: 'Japanese Football League', clinchVolume: 351745954, team1: 'Lyon', team1Logo: './images/betting/lyon.png', team2: 'Fcb', team2Logo: './images/betting/fcb.png', startTime: '10:00', endTime: '14:00' }
                    ]
                }


                const isUserLoggedIn = {{#if user}}true{{else}}false{{/if}};

                function getCurrentDayMatches() {
                    const days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];
                    const today = new Date().getDay();
                    return matches[days[today]];
                }

                function updateTimeLeft(match, element) {
                    const now = new Date();
                    const hours = now.getHours();
                    const minutes = now.getMinutes();

                    const morningStartHour = 10;
                    const morningEndHour = 14;
                    const eveningStartHour = 18;
                    const eveningEndHour = 19;

                    if ((hours >= morningStartHour && hours < morningEndHour) ||
                        (hours === morningEndHour && minutes === 0)) {
                        element.textContent = 'Live';
                    } else {
                        element.textContent = 'Off';
                    }
                }

                function renderMatches() {
                    const matches = getCurrentDayMatches();
                    const bettingCards = document.getElementById('betting-cards');
                    bettingCards.innerHTML = '';

                    matches.forEach(match => {
                        const card = document.createElement('div');
                        card.className = 'card';
                        card.innerHTML = `
                <div class="header">
                    <span class="league">${match.league}</span>
                    <span class="icon">🏆</span>
                </div>
                <div class="clinch-volume">
                    Clinch volume <span class="volume">${match.clinchVolume}</span>
                </div>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
                <div class="teams">
                    <div class="team">
                        <img src="${match.team1Logo}" alt="Team 1">
                        <span>${match.team1}</span>
                    </div>
                    <span class="vs">VS</span>
                    <div class="team">
                        <img src="${match.team2Logo}" alt="Team 2">
                        <span>${match.team2}</span>
                    </div>
                </div>
                <div class="time-left">
                    <span class="status" id="status-${match.league.replace(/\s/g, '-')}"></span>
                </div>
            `;

                        const statusElement = card.querySelector(`#status-${match.league.replace(/\s/g, '-')}`);
                        updateTimeLeft(match, statusElement);

                        card.addEventListener('click', () => {
                            if (!isUserLoggedIn) {
                                alert('Please log in first to place a bet 🛑');
                                return;
                            }

                            const now = new Date();
                            const hours = now.getHours();
                            const minutes = now.getMinutes();


                            if ((hours >= 10 && hours < 14)) {
                                window.location.href = '/betting_dashboard';
                            } else {
                                alert('Betting is off. Betting is only available from 10 AM to 2 PM 🛑');
                            }
                        });

                        bettingCards.appendChild(card);
                    });
                }

                document.addEventListener('DOMContentLoaded', renderMatches);
            </script>








            {{!-- Latest Offers --}}

            <div class="section-full bg-white content-inner our-achievements">
                <div class="container">
                    <div class="section-head text-center ">
                        <marquee
                            style="color : white; font-size: 20px; font-weight: bold; background : rgb(32, 147, 255); padding : 5px;">
                            ⭐ Latest Tranding Offer ⭐
                        </marquee>
                    </div>
                </div>
            </div>


            <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase">Latest Offers</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>You will see all latest offers here</p>
                    </div>
                    <div class="section-content">
                        <div
                            class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr image-slider">
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/one.png" alt="audi">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/two.png" alt="bullet">
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img class="intro" src="/images/intro/three.png" alt="iphone" height="100px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section-full bg-white content-inner our-achievements">
                <div class="container">
                    <div class="section-head text-center ">
                        <marquee
                            style="color : white; font-size: 20px; font-weight: bold; background : rgb(19, 210, 48); padding : 5px;">
                            ⭐ Gifts For Friday ⭐
                        </marquee>
                    </div>
                </div>
            </div>


            <div class="section-full bg-white content-inner-1 bg-img-fix overlay-white-dark">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase">Gifts For Friday</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>You will see all latest gifts for friday</p>
                    </div>
                    <div class="section-content">
                        <div
                            class="next-match owl-loaded owl-theme owl-dots-none owl-carousel owl-btn-center-lr image-slider">
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <br><br><br>
                                    <img src="/images/audia4.png" alt="audi">
                                    <h2 class="image-content">Audi A4</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <br><br><br>
                                    <img src="/images/royal_bullet.png" alt="bullet">
                                    <h2 class="image-content">Royal Enfield</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/iphone_one.png" alt="iphone" height="100px">
                                    <h2 class="image-content">Iphone 14</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/smart.jpg" alt="smart watch">
                                    <h2 class="image-content">Smart Watch</h2>
                                </div>
                            </div>
                            <div class="item p-t20">
                                <div class="countdown dez-style-1 text-center">
                                    <img src="/images/vivo_5g.jpg" alt="vivo 5G">
                                    <h2 class="image-content">Vivo 5G</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div id="about" class="section-full bg-white content-inner">
                <div class="container">
                    <div class="section-head text-center ">
                        <h2 class="h2 text-uppercase"> About The GB FOOTBALL</h2>
                        <div class="dez-separator-outer ">
                            <div class="dez-separator bg-primary style-liner"></div>
                        </div>
                        <p>Welcome to GB Football, your premier destination for sports betting! At GB Football, we
                            bring
                            the thrill of the game right to your fingertips. Whether you're a passionate football
                            fan, a
                            cricket enthusiast, or a hockey aficionado, we have something for everyone.</p>
                    </div>
                    <div class="section-content text-center ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="text-left">
                                    <h3 class="font-weight-600 m-t10">OUR MISSION STATEMENT</h3>
                                    <p>At GB Football, our mission is to provide a world-class sports betting
                                        experience
                                        that is exciting, fair, and secure. We aim to be the leading platform for
                                        sports
                                        enthusiasts by offering comprehensive coverage, competitive odds, and
                                        exceptional customer service. Our commitment is to enhance your enjoyment of
                                        sports through a seamless and responsible betting environment. Join us at GB
                                        Football and elevate your game-day experience!</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-4">
                                            <div class="dez-media dez-img-effect off-color">
                                                <img width="159" height="153" src="images/about-sports/pic1.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-4 ">
                                            <div class="dez-media dez-img-effect off-color">
                                                <img width="159" height="153" src="images/about-sports/pic2.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-4 ">
                                            <div class="dez-media dez-img-effect  off-color">
                                                <img width="159" height="153" src="images/about-sports/pic3.jpg"
                                                    alt><br>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="m-tb30">
                                        <a href="javascript:void(0);" class="site-button">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 m-b30">
                                <div class="dez-box">
                                    <div class="dez-media dez-img-effect off-color ">
                                        <img width="555" height="393" src="images/about-sports/pic4.jpg" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-full content-inner bg-white">
            </div>
        </div>
    </div>
    </div>

    </div>


    <footer class="site-footer footer-overlay bg-img-fix footer-skew"
        style="background-image: url(images/background/bg5.jpg); background-position: center bottom; background-size: cover; display: block;">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-left"> <span>GB FOOTBALL © Copyright 2024</span> </div>
                    <div class="col-lg-4 text-right ">
                        <a href="#about"> About</a>
                        <a href="/contact"> Help Desk</a>
                        <a href="/privacy">Privacy Policy</a>
                        <a href="/disclaimer">Disclaimer</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <button class="scroltop fa fa-caret-up"></button>
    </div>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="plugins/magnific-popup/magnific-popup.js"></script>
    <script src="plugins/counter/waypoints-min.js"></script>
    <script src="plugins/counter/counterup.min.js"></script>
    <script src="plugins/countdown/jquery.countdown.js"></script>
    <script src="plugins/imagesloaded/imagesloaded.js"></script>
    <script src="plugins/masonry/isotope.pkgd.min.js"></script>
    <script src="plugins/masonry/masonry-4.2.2.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.js"></script>
    <script src="plugins/lightgallery/js/lightgallery-all.js"></script>
    <script src="js/dz.ajax.js"></script>
    <script src="plugins/switcher/js/switcher.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/dz.carousel.min.js"></script>

    <script src="plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="js/rev.slider.js"></script>
    <script src="js/profit.js"></script>
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/american_matches.js"></script>
    <script src="js/bet_time.js"></script>
    <script src="js/indian_matches.js"></script>
    <script src="js/japanese_matches.js"></script>
    <script src="js/deposit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        }); /*ready*/

        document.addEventListener('DOMContentLoaded', function () {
            const navicon = document.getElementById('navicon');
            const navbarNavDropdown = document.getElementById('navbarNavDropdown');
            const navLinks = document.querySelectorAll('.navbar-nav li a');

            navicon.addEventListener('click', function () {
                navicon.classList.toggle('open');
                navbarNavDropdown.classList.toggle('show');
            });

            navLinks.forEach(link => {
                link.addEventListener('click', function () {
                    navicon.classList.remove('open');
                    navbarNavDropdown.classList.remove('show');
                });
            });
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>


