<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/userProfile.css">

    <div class="container emp-profile">
        <form method="post" id="userProfileForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="/images/userProfile.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <br><br>
                        <h5>
                            {{user.firstname}} {{user.lastname}}
                        </h5>
                        <h6>
                            GB Football Verified User
                        </h6>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    {{!-- <a href="/" class="back">Back</a> --}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <h5>Account Balance</h5>
                        <h3 class="balance"><img src="/images/rupee.png"> {{totalBalance}} RS</h3>
                        <h5>Belate Betting Coins</h5>
                        <h3 class="balance"><img src="/images/coin.png"> {{totalCoins}} </h3>
                        <p>See your balance history below</p>
                        <a style="color:white; background:rgb(40, 167, 225);padding:10px;border-radius: 3px;"
                            href="/history">History</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tab-content profile-tab mb-5" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.userid}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Referral Link</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.referrallink}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p> {{user.firstname}} {{user.lastname}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.phone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Bank Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.bank_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Bank Account No</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.bank_account_no}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>IFSC Code</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.ifsc_code}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary" onclick="showEditForm()">Edit
                                        Details</button>
                                </div>
                            </div>
                            <br>
                            <div id="editForm" style="display:none;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="bank_name">Bank Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="bank_name" name="bank_name" value="{{user.bank_name}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="bank_account_no">Bank Account No</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="bank_account_no" name="bank_account_no"
                                            value="{{user.bank_account_no}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="ifsc_code">IFSC Code</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="ifsc_code" name="ifsc_code" value="{{user.ifsc_code}}">
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6">
                                        <label for="phone">Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="phone" name="phone" value="{{user.phone}}">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary"
                                            onclick="updateBankDetails()">Save</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-secondary"
                                            onclick="hideEditForm()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        function showEditForm() {
            document.getElementById('editForm').style.display = 'block';
        }

        function hideEditForm() {
            document.getElementById('editForm').style.display = 'none';
        }

        async function updateBankDetails() {
            const bank_name = document.getElementById('bank_name').value;
            const bank_account_no = document.getElementById('bank_account_no').value;
            const ifsc_code = document.getElementById('ifsc_code').value;
            const phone = document.getElementById('phone').value;

            const response = await fetch('/updateBankDetails', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    bank_name,
                    bank_account_no,
                    ifsc_code,
                    phone
                })
            });

            if (response.ok) {
                alert('Bank details updated successfully!✅');
                window.location.reload();
            } else {
                alert('Failed to update bank details. Please try again.❌');
            }
        }
    </script>

    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
</body>

</html>

